.App {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid-column-12{
  grid-column: span 12;
}

.grid-column-6{
  grid-column: span 6;
}


.grid-column-3-9{
  grid-column: 4/8;
}

.grid-column-1{
  grid-column: span 1;
}


